.container-coffe-listing {
    width: 70%;
    margin: auto;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
    justify-items: center;
    justify-content: center;
}
.card-coffe {
    width: 260px;
    margin: 35px 0
}

.container-imagen {
    position: relative;
    display: inline-block;
}
.coffe-image {
    border-radius: 15px;
}

.coffe-popular {
    margin: 10px;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    background-color: #F6C768;
    border-radius: 60px;
    top: 0px;
}

.container-description {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 7px;
}

.coffe-name {
    color: white;
    font-size: 16px;
}
.coffe-price {
    padding: 5px;
    border-radius: 5px;
    background-color: #BEE3CC;
    font-size: 12px;
}

.container-rating {
    margin-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffe-rating {
    display: flex;
    flex-direction: row;
}
.coffe-rating .start {
    margin-right: 5px;
}

.coffe-rating .votes {
    color: #6F757C;
}
.coffe-rating div {
    display: flex;
    align-items: center;
}

.no-rating {
    color: #6F757C;
    font-weight: bold;
}

.sold-out {
    color: #ED735D;
}

@media screen and (max-width: 1024px) {
	.container-coffe-listing {
	  grid-template-columns: repeat(2, 1fr);
	}
  }

  @media screen and (max-width: 650px) {
	.container-coffe-listing {
	  grid-template-columns: repeat(1, 1fr);
      /* justify-items: center; */
      gap: 0px;
	}
  }