.container {
    width: 85%;
    margin: 12.5% auto 8%;
    background-color: #1B1D1F;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.image-vector{
    margin: 60px;
    position: absolute;
    right: 25%;
    z-index: 0;
}

.our-collection {
    width: 45%;
    margin: 100px auto 0px;
    text-align: center;
    color: #FEF7EE;
    z-index: 2;
}

.our-collection h2 {
    font-size: 32px;
}

.our-collection p {
    margin: 10px 10px 30px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #6F757C;
}

.our-collection button {
    margin: 5px;
    padding: 8px 13px;
    background-color: transparent;
    border: none;
    color: #FEF7EE;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.our-collection button:focus,
.our-collection button:hover {
    background-color: #6F757C;
    border-radius: 6px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }
    .our-collection {
        width: 80%;
    }
    .image-vector{
        right: 5%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 65%;
    }
    .our-collection {
        width: 80%;
    }
    .image-vector{
        left: 30%;
    }
}
  