* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #111315;
  background-image: url("/src/images/bg-cafe.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'DM Sans';
}

.App {
  padding-bottom: 10px;
}